body {
    font-family: Open Sans,sans-serif;
}
.custom-toggler.navbar-toggler {
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header{
    padding-top: 50px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.large-logo{
    text-align: center;
}
.main-menu{
    margin: 0 auto;
}
div#navbarNavDropdown ul li a{
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    color: #707070;
    vertical-align: bottom;
    text-decoration: none;
    padding: 13px;
}
div#navbarNavDropdown ul li a:hover {
    color: #fc320a;
    text-decoration: none;
}
.wrap-content{
    margin-top: 220px;
}
section#top-banner {
    text-align: center;
    overflow: hidden;
}

.title-category-block {
    border-bottom: 2px solid #fc320a;
}


#footer{
    background-color: #fc320a;
    padding: 30px 0 31px;
    overflow: hidden;
}
.footer-bar-right {
    text-align: right;
}
.footer-bar-social{
    float: right;
}
.footer-bar-social li a{
    color: #fff;
}
.list-product.container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
.product_title.entry-title {
    padding-top: 7px;
}
.ca-list-product{
    margin-top:50px;
}

.another-product {
    float: right;
}
.another-product a {
    position: relative;
    top: 18px;
    font-size: 15px;
    line-height: 20px;
    color: #a1a1a1;
    margin-left: 10px;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item{
    color: #a1a1a1;
}
li.breadcrumb-item a{
    color: #555;
}
h1.product-title-detail{
    color: #fc320a;
}
.product-detail h6{
    line-height: 25px;
}
.wrap-content-detail{
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
}
.nav-tabs{
    border: none;
}
.nav-link{
    color: #282828;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
    border-color: transparent;
    
    color: #000;
}
.nav-tabs .nav-link:hover{
    border-bottom: 1px solid #282828;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin: 0 auto;
}
div#myTabContent {
    margin-top: 30px;
}
.flexslider{
    margin: 0px;
}
.about-content h4, #partner h3{
    color: #fc320a;
}
#partner h3{
    font-size: 24px;
}
.feature-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fc320a;
}
.feature-content {
    padding-left: 45px;
}
.feature-content h2, .list-news article a, ul.pagination li a{
    color: #fc320a;
    padding: 3px;
}
#contact-detail{
    margin: 50px 0px;
}

.list-news article{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
.list-news article .thumb-news{
    margin-right: 10px;
    height: 155px !important;
}
#pagination{
    margin-top: 20px;
}
.pagination{
    justify-content: center;
}
.pagination li a{
    /*border: 1px solid #fc320a;*/
}
@media only screen and (max-width: 992px) {
    .header{
        padding-top: 0px;
    }
    .navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 6px;
    }
    .wrap-content{
        margin-top: 70px;
    }
    .navbar{
        padding-left: 0px;
        padding-right: 0px;
    }
    div#navbarNavDropdown ul li a{
        color: #fff;
    }
    header.fixed-top.header .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    div#navbarNavDropdown li{
        border-bottom: 1px solid #eee;
    }
    div#navbarNavDropdown{
        background: #fc320a;
    }
    div#navbarNavDropdown ul li a:hover{
        color: #fff;
    }
  }

.profile-slider {
    max-height: 600px;
    overflow: hidden;
}

.btn-product-line {
    text-align: center;
    margin: 60px 0px;
}

.btn-product-line a {
    color: white;
    background: #fc320a;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-product-line a:hover {
    text-decoration: none;
}

section.list-line > div > div {
    margin-bottom: 40px;
}

section.list-line a img {
    width: 100%;
    border: 1px solid #f4524d;
    border-radius: 50%;
    padding: 4px;
}
.cart{
    color: #fc320a;
    padding-right: 10px;
}

.dropdown-menu {
    border: 0px solid;
}
@media only screen and (max-width: 992px) {
    .dropdown-menu {
        background: #fc320a;
        border: 0px solid;
    }
    .dropdown-menu a:hover{
        background: #fc320a;
    }
}
.dropdown-item {
    padding: 5px;
}