.search-order-header{
    padding: 0;
    background: #0887b4;
    overflow: hidden;
    position: relative;
    height: 45px;
    border-radius: 0;
    cursor: move;
    border: none;

}
.search-order-header .link {
    border-radius: 0;
    border: none;
    padding: 0;
    width: 45px;
    height: 45px;
    background: #16b5ee;
    text-align: center;
    float: right;
}
.search-order-header   .close-icon {
    background: url(../images/window-close.png) no-repeat center center!important;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    z-index: 9;

}
.search-order-header  .title {
     font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0 14px;
    color: #fff;
    position: relative;
    left: 0;
    text-align: center;
}
.search-order-content{
    height:500px;
}
.search-order-content .leftSearch{
    float:left;
    width:25%;
    height:500px;
 }
.search-order-content .leftSearch h3{
    background: #38b8e6;
}

.search-order-content .rightContent{
    float: right;
    width: 70%;
    height:500px;
 }