html, body{background:#fff; color:#3f3f3f; font-size:12px; font-size-adjust:inherit; font-stretch:normal; font-variant:normal; font-style:normal; margin:0; padding:0; height:100%;}

*{font-family:"Segoe UI", Helvetica, Arial, sans-serif;}
::-moz-selection{ background: #5dba00; color:#fff; text-shadow: none; }
::selection { background:#5dba00; color:#fff; text-shadow: none; }
a {color:#0095d1; text-decoration:none;}
a:hover{color:#478d00; text-decoration:none;}
a:active{border:none;}
a img{border:none;}
form{margin:0; padding:0;}
.fll{float:left;}
.flr{float:right;}
.fln{float:none;}
.clb{clear:both;}
.txtB{font-weight:bold;}
.txtN{font-weight:normal;}
.txtL{text-align:left;}
.txtR{text-align:right!important;}
.txtC{text-align:center!important;}
.txtJ{text-align:justify}
.w100{width:100%;}
.dpn{display:none;}
.dpib{display:inline-block}
.dpb{display:block}
.uln ul{list-style:none; margin:0; padding:0;}
.split{padding:0 5px;}
.br0{border:none!important;}
.bg0{background:none!important;}
.ovh{overflow:hidden}
.posR{position:relative}
.posA{position:absolute}
.fs11{font-size:11px}
.fs14{font-size:14px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mainWrap{position:relative; min-height:100%;}

p{margin:0; padding:0 0 15px;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0 0 15px;}
.fr  input[type="text"], .fr  input[type="password"],
.fr select, .fr textarea{
	border:1px solid #e9e9e9; background:#fff; color:#3d3d3d;  font-size:15px;
	margin:0; padding:7px 8px; overflow:visible; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}
.fr input[type="button"], .fr input[type="submit"], .fr input[type="reset"]{
	background: #e6e6e6; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e6e6e6'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #e6e6e6); /* for firefox 3.6+ */
	border:none; color:#000; font-size:16px;
	box-shadow:inset 1px 1px 1px #c4c4c4;
	margin:0; padding:5px 20px; overflow:visible; cursor:pointer;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;
}
article, aside, canvas, figure, figure images, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}
.mainWrap{position:relative; min-height:100%;}

header{font-size:16px; color:#4c4c4c; text-transform:uppercase; padding-bottom:10px;}
.logo{background:url(../images/logo.png) no-repeat; height:65px; width:0; padding-left:218px; margin:10px 0 10px;}
.boxBg{background:#29abe1; border-top:3px solid #1398d0; height:110px; z-index:0}

.loginBox{width:480px; margin:0 auto; z-index:5; padding-bottom:30px; top:-82px; margin-bottom:30px}
.loginFr{background:#f5f5f5; padding:20px 30px; margin:0 30px}
.loginFr label{display:block; font-size:16px; margin-bottom:10px;}
.loginFr label.checkbox{ display: inline-block; font-size: 13px}
.loginFr input[type="text"], .loginFr input[type="password"]{
	border:1px solid #e4e4e4; background:#fff; color:#3d3d3d;  font-size:18px; box-shadow:inset 0 0 1px 1px #f0f0f0;
	margin:0; padding:6px 0; overflow:visible; display:block; margin-bottom:20px; width:99%; text-indent:15px;
}
.loginFr input.input-validation-error{ border-color: red;}
.field-validation-error{ color: red;display: block; margin-bottom: 5px}
.loginFr input[type="text"]:focus, .loginFr input[type="password"]:focus{border-color:#29abe1}
.loginFr a{text-decoration:underline}
.loginBtn{display:inline-block; background:url(../images/loginBtn.png) no-repeat 0 0; width:158px; height:50px;}
.loginBtn:hover{background-position:0 -51px; cursor:pointer}
.loginBtnSale{width:177px; background-position:-174px 0}
.loginBtnSale:hover{width:177px; background-position:-174px -51px}
.loginBtn input{background:none; border:none; width:100%; height:100%; text-indent:-200000px; cursor:pointer}
.loginFr aside{ margin: -10px 0 20px}

.loginNews{background:#f5f5f5; padding:10px; width:590px; margin:0 auto; top:-100px}
.loginNews .loginNewsBtn a{display:inline-block; overflow:hidden; height:16px; width:0; padding-left:17px; background:url(../images/nextprev.png) no-repeat 0 0;}
.loginNews .loginNewsBtn a:hover{background-position:0 -17px}
.loginNews .loginNewsBtn a.next{background-position:-16px 0}
.loginNews .loginNewsBtn a.next:hover{background-position:-17px -17px}

footer{border-top:1px solid #e8e8e8; padding:20px 0 15px; position:absolute; left:0; bottom:0; width:100%;}

/*===========Custom radio chech box */
.prettycheckbox, .prettyradio{display:block}
.prettycheckbox label{float:none; display:inline-block;margin: 2px 0 0 5px!important;font-weight: normal; font-size: 12px}
.prettycheckbox a, .prettycheckbox a:focus{ background-position: -40px 0;width: 15px;height: 16px;}
.prettycheckbox a.checked, .prettycheckbox a.checked:focus{background-position:-55px 0}

@media (max-width: 520px){
    .loginBox{width: 100%}
    .loginFr{ padding: 15px; margin: 0 15px}
    .loginNews{display: none}
	footer{position: relative;margin-top: -90px;}
	
}
@media (max-width: 420px){
    .loginFr section .loginBtn{float: none}
    .loginFr section .loginBtn.loginBtnSale{margin-top: 10px}
}


































