<div class="row" >
    Score : {{ model.stepper.score }}<br>
    Min score : {{ model.stepper.minScore }}<br>
    Max score : {{ model.stepper.maxScore }}<br>
    <br>
    <div rn-stepper min="model.stepper.minScore" max="model.stepper.maxScore" ng-model="model.stepper.score"></div>
</div>