<div class="row" ng-init="init()">
    <div id="autocomplete_customer" ng-controller="CustomerSearchCtrl">
        <input class="typeahead" type="text" placeholder="Tìm kiếm khách hàng">
    </div>
    <div>
        <select  ng-options="row.name for row in  service.shared.priceList" ng-model="price_list_item" ng-change="getAllProduct(price_list_item)"></select><br>
        <label ng-bind="price_list_item.id"></label>
    </div>
</div>