
body{
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    background-color: #f6f6f6 !important;
}
body, .wrapper a{
    color: #262626;
}
.wrapper .body{
    overflow: hidden;
}
.header{
    background-color: #fff;
}
.box-category h3.title{
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    background-color: #F6F6F6;
    color: #326F8E;
   height: 60px;
   line-height: 60px;
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
    overflow: hidden;
}

h3.title,
h2.title,
.box-title h2{
    font-size: 18px;
    padding: 0px;

}
.nav-top{
    background: #069;
    color: #fff;
    height: 52px;
    position: relative;
    width: 100%;
   /* overflow: hidden;*/
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav-top p.slogan{
    font-size: 15px;
    color: #fff;
    margin: 0 0;
    padding: 0px;
    float: left;
    margin-top: 10px;
}

.box-title{
    margin-bottom: 15px;
}
.box-title h2{
    margin: 0px;
    padding-top: 5px;
}
.box-search{
    margin-left: 15px;
}
.box-search li{
    float: left;
    list-style: none;
}
.box-search .list-box{
    padding: 0px;
}
.box-search select.select,
.box-search .item .fa{
    font-weight: bold;
}
.list-box .item.last,
.list-box .item:last-child{
    border: 0px !important;
}
.box-search .item .fa.fa-in{
    float: left;
    margin-top: 8px;
}

.box-search .item .form-inline .input-group .input-group-addon{
    width: 1%;
    padding: 0px;
    border: 0px;
}
.box-search .frm .form-control{
    box-shadow: none;
    height: 24px;
    border-radius: 0px;
}
.box-search .item .btn{
    background-color: #006fb6;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: normal;
}
.box-search .frm  .item{
    padding-left: 0px;
    padding-right: 0px;
}

.box-search .frm  .item select{
    margin-right: -1px;
}
.box-social{
    padding-top: 18px;
}
.box-contact{
    background-color: #f1f1f1;
}
.box-contact .img-active{
    width: 120px;
    margin-right: 25px;
}
.post-news{
    background-color: #00a550;
    padding: 6px 12px;
    color: #fff !important;
    font-weight: bold;
}
.box-tag{
    padding-bottom: 30px;
}
.box-tag .txt-tag{
    margin-right: 10px;
}
.other-position{
    margin-top: 15px;
    padding: 5px 12px;
    color: #00a550;
    border: 1px solid #00a550;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
}
.other-position .fa-caret-down{
    border-left: 1px solid #ccc;
    padding-left: 8px;
    margin-left: 5px;
}
.social-icon a{
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: block;
    background-color: #fff;
    display: inline-block;
    font-size: 16px;
    color: #000;
}
.show-hide{
    display: none;
}
/* custom css selectbox*/
.list-box .cs-select span{
    padding: 0px;
}
.cs-options{
    border: 1px solid #ccc;
    padding: 10px 0px !important;
}
.cs-options li{
    display: block;
    width: 100%;
}
.cs-options li:hover{
    background-color: #ccc;
}
.list-box .cs-skin-elastic .cs-options span{
    color: #232323;
    font-size: 13px;
    font-weight: normal;
    display: block;
    padding: 6px 12px;
}
.box-btn .btn{
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #fff;
    padding: 10px 30px;
}
.box-btn{
    margin-top: 20px;
}
.action{
    margin: 0px;
    padding: 0px;
}
.action li{
    float: left;
    list-style: none;
    position: relative;
    line-height: 40px;
    margin-left: 12px;
    padding-top: 1px;
    padding-bottom: 5px;
}
.action li a{
    color: #fff;
    font-size: 15px;

}
.action li a .ic{
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 3px;
    margin-right: 5px;
}
.action li a.account .ic{
    background: url("../images/sprite.png") no-repeat;
    background-position: -40px -48px;
}
.action li a.support .ic{
    background: url("../images/sprite.png") no-repeat;
    background-position: -39px -7px;
}
.action li:hover ul.dropdown{
    display: block;
}
.action ul.dropdown{
    position: absolute;
    top: 48px;
    left: 0px;
    display: none;
    z-index: 1000;
    background-color: #fff;
    width: 180px;
    border: 1px solid #d7d7d7;
    padding: 0px;
    margin: 0px;
}
.action ul.dropdown li{
    margin: 0px;
    padding: 3px 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    clear: both;
}
.action ul.dropdown li a{
    color: #232323;
    margin: 0px;
    padding: 6px 10px;
    line-height: 18px;
    display: block;
    font-size: 13px;
}
.box-search{
    margin-top: 10px;
}
.info-cart{
    background-color: #3399cc;
    height: 46px;
}
.info-cart .fa{
    font-size: 22px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    display: block;
    float: left;
    height: 100%;
    width: 46px;
    background-color: #069;
}

.category-mn .list-cate{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}
.box-category .list-cate{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    border-top: 0px;
}

.category-mn .list-cate li a,
.list-cate li ul.sub-menu a{
    color: #232323;
}
.category-mn .list-cate li a{
    display: block;
    padding: 10px 12px;
    font-size: 14px;

}
.box-category .list-cate li{
    position: relative;
}
.box-category .list-cate li .caret-menu{
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 999;
    font-size: 16px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}

.box-category .list-cate li a{
    padding: 10px 12px;
    display: block;
}
.box-category .list-cate li{

    padding: 0px 0px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.ic-box{
    width: 40px;
    height: 60px;
    display: table;
    border: 1px solid #444;
}
.ic-box .ic{
    display: table-cell;
    vertical-align: middle;
}
.category-mn .list-cate .box-ic,
.box-category .list-cate .box-ic{
    width: 18px;
    height: 20px;
    float: left;
    margin-right: 6px;
    display: table;
    text-align: center;
}
.category-mn .list-cate .ic,
.box-category .list-cate .ic{
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
/*
.category-mn .list-cate .ic1,
.box-category .list-cate .ic1{
    background-position: -9px -6px;
}
.category-mn .list-cate .ic2,
.box-category .list-cate .ic2{
    background-position: -7px -37px;
}
.category-mn .list-cate .ic3,
.box-category .list-cate .ic3{
    background-position: -9px -71px;
}
.category-mn .list-cate .ic4,
.box-category .list-cate .ic4{
    background-position: -9px -103px;
}
.category-mn .list-cate .ic5,
.box-category .list-cate .ic5{
    background-position: -8px -137px;
}
.category-mn .list-cate .ic6,
.box-category .list-cate .ic6{
    background-position: -9px -169px;
}
.category-mn .list-cate .ic7,
.box-category .list-cate .ic7{
    background-position: -9px -202px;
}
.category-mn .list-cate .ic8,
.box-category .list-cate .ic8{
    background-position: -9px -234px;
}
.category-mn .list-cate .ic9,
.box-category .list-cate .ic9{
    background-position: -9px -267px;
}
.category-mn .list-cate .ic10,
.box-category .list-cate .ic10{
    background-position: -9px -303px;
}
.category-mn .list-cate .ic11,
.box-category .list-cate .ic11{
    background-position: -9px -333px;
}*/
nav.menu{
    background-color: #fff;
    border: none;
    min-height: 30px;
    margin-bottom: 0px;
    margin-top: 15px;
}
nav.menu .navbar-collapse{
    padding-left: 0px;
}
nav.menu li a{
    font-size: 15px;
    padding: 0px;
}
nav.menu li{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-hotline li{
    color: #DB2827;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
.box-mn a{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.box-mn a:hover{
    color: #ccc;
}
.box-menu{
    height: 60px;
    overflow: hidden;
}
.box-products .box-title h3{
    margin: 0px;
}

.box-products .box-title h3,
.box-title h3 a{
    float: left;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    font-size: 15px;
    padding: 10px  12px;
    font-weight: bold;
    color: #666;
}

/* css slider product*/
.owl-carousel.owl-theme .owl-controls{
    position: absolute;
    top: -45px;
    margin-top: 0px;
}

.list-product .item{
    position: relative;
    transition: 2s;
}

.list-product .img-thumb{
    display: block;
    margin: auto;
}

.list-product .name{
    padding: 0px 0px 5px 0px;
    margin: 0px;
}
.list-product .name a{
    font-size: 15px;
    font-weight: bold;
}
.list-product .price-new{
    font-size: 18px;
    color: #DB2827;
    margin-right: 10px;
}
.list-product .price-old{
    font-size: 15px;
}

.list-product .item{
    border-right: 1px solid #d7d7d7;
    position: relative;
    background-color: #fff;
}
.owl-carousel .item .sale{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 54px;
    height: 54px;
    display: block;
    background: url("../images/icon_sale.png") no-repeat;
    background-size: 54px 54px;
}
/* end slide*/



.box-cate .item .box-category{
   margin-top: -60px;
   z-index: 9;
}

.info-cart{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}
.info-cart .fa{
    margin-right: 12px;
}
.box-cate .item,
.box-list .item{
    padding-left: 0px;
    padding-right: 0px;
}
.img-full{
    width: 100%;
    height: auto;
}
.slider{
    margin-left: -15px;
    margin-right: -15px;
}

/*footer*/
.footer{
    background-color: #fff;
    padding-top: 30px;
    border-top: 1px solid #d7d7d7;
}
.box-contact {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1f1f1;
}
.box-mn{

}
.box-mn .list-mn{
    margin-left: 20px;
}
.box-mn .list-mn{
    font-size: 15px;
    margin-top: 10px;
}
/* stype slider*/
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
.box .box-title h3:first-child a{
    color: #fff;
}
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }


.box-slider .box-title h3:first-child a{
    background-color: #3399cc;
}

.box3 .box-title h3:first-child a{
    background-color: #FFA343;
}
.box4 .box-title h3:first-child a{
    background-color: #FF7538;
}
.box5 .box-title h3:first-child a{
    background-color: #45CEA2;
}
/*search*/
.frm.form-inline .input-group .input-group-addon {
    width: 1%;
    padding: 0px;
}

.logo{
    display: block;
    margin-top: 5px;
    float: left;
}
.list-product .item{
    border: 1px solid #d7d7d7;
}
.select{
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}
.option .fa{
    font-size: 20px;
    margin-top: 3px;
}

.frm .item{
    float: left;
}
.action-user{
    margin-top: 18px;
}
.action-user.list-inline>li{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border-right: 1px solid #eee;
    padding-right: 10px;
 }
.action-user li:last-child{
    border-right: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.action-user .icon{
    width: 36px;
    height: 27px;
    display: block;
    float: left;
    margin-right: 2px;
}
.action-user .ic-cart .icon,
.action-user .ic-like .icon{
    position: relative;
}
.action-user li,
.action-user li a{
    font-size: 14px;
    white-space: nowrap;
    line-height: 25px;
}
.action-user .ic-cart .icon{
     background: url("../images/header-prite.png") no-repeat;
    background-position: 0px 0px;
 }
.action-user .ic-like .icon{
    background: url("../images/header-prite.png") no-repeat;
    background-position: -50px 0px;
}
.action-user .ic-user .icon{
    background: url("../images/header-prite.png") no-repeat;
    background-position: -100px 0px;
}
.action-user li .count{
    position: absolute;
    top: -6px;
    right: -2px;
    padding: 1px 3px;
    background-color: #F78920;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    line-height: 18px;

}
/*product-detail*/
.style .list-inline>li{
    margin-right: 6px;
}
.style .list-inline>li input{
    float: left;
    margin: 1px 4px 0px 0px;
}
.style .color{
    width: 14px;
    height: 14px;
    display: block;
    border: 1px solid #eee;
    padding: 3px;
    float: left;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.product-detail .flexslider{
    margin-bottom: 10px;
}
.product-detail h3.name-detail{
    margin: 5px 0px 15px 0px;
}
.product-detail .tab-content{
    background-color: #fff;
    padding: 20px 15px;
}
.product-detail .txt{
    margin-bottom: 10px;
    display: block;
}
.category-page h3.title{
    background-color: #F78920;
    color: #fff;
}
.box-category.category-page li{
    border-bottom: none;
}
.info-product .item{
    overflow: hidden;
    padding: 15px 0px;
    border-top: 1px solid #eee;
}
.info-product h4{
    margin: 0px 0px 6px 0px;
}
.quanty{
    width: 50px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.info-product .price{
    font-size: 18px;
    color: #F78920;
    margin-bottom: 10px;
    margin-right: 10px;
}
.info-product .price_old{
    text-decoration: line-through;
    font-size: 15px;
}
.slider .flex-direction-nav a:before{
    font-size: 30px;
    font-weight: normal;
}
/*-- contact-page-starts-here --*/
@media screen and (max-width: 480px){
    .contact-left input[type="text"] {
        margin: 0 0px 23px 0;
    }
    .contact-right,
    .contact-left {
        width: 100%;
    }
}
@media screen and (min-width: 480px){
    .contact-left{
        width:30%;
        float:left;
    }
    .contact-right{
        width:68%;
        float:right;
    }
}
.contact {
    padding: 60px 0;
}
.contact-info {
    margin-bottom: 40px;
}
.contact-right textarea,
.contact-left input[type="text"]{
    background-color: #fafafa;
}
.contact-left input[type="text"]{
    width: 100%;
    color: #000;
    margin: 0 23px 23px 0;
    font-size:14px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #e8e8e8;
}
.contact-right textarea{
    width: 100%;
    color: #000;
    font-size:14px;
    resize: none;
    height: 160px;
    padding: 12px;
    outline: none;
    border: 1px solid #e8e8e8;
    margin-bottom: 12px;
}
.contact-form input[type=submit] {
    border:none;
    color: #ffffff;
    padding: 13px 43px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    background:#816263;
}
.contact-form input[type=submit]:hover {
    background:#000;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
}
.contact-right input[type=reset],
.contact-right input[type=submit]{
    padding: 6px 18px;
    border: none;
    margin-right: 5px;
}
.contact-right input[type=submit]{
    background-color: #00a796;
}
.contact-right input[type=reset]{
    background-color: #ccc;
}


.contact-info h2{
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
}
.contact-info h3{
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
}
.contact-map{
    /* width:100%; */
    /* margin-bottom: 52px; */
}
.contact-map iframe{
    width:100%;
    height:330px;
    margin-bottom: 30px;
}
.list-news.box{
    margin-top: 60px;
}
.list-news h3.name{
    margin: 0px 0px 20px 0px;
}
.list-news .item{
    margin-bottom: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px solid #eee;

}
.list-news .item:last-child{
    border-bottom: 0px;
    padding-bottom: 0px;
}
.list-news .date{
    color: #686868;
    margin-bottom: 10px;
    display: block;
}
.list-news h3 a{
    color: #232323;
    font-size: 18px;
}
.box-pagging{
    margin-top: 30px;
}
.box-pagging .pagination{
    margin-bottom: 0px;
}
.box-news-detail{
    padding-top: 30px;
    padding-bottom: 30px;
}
.news-detail h3.name{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.news-detail .time{
    color: #686868;
    font-size: 12px;
    margin-bottom: 15px;
}
.news-detail img.img-full{
    margin-top: 10px;
    margin-bottom: 10px;
}
.author{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
}
.news.box-category a.active,.news.box-category a.active {
    color: #069;
}
.news.box-category ul{
    padding: 0px;
    margin: 0px;
}
.news.box-category li{
    list-style: none;
    padding-bottom: 5px;
}
.news-relater .item{
    margin-bottom: 20px;
    overflow: hidden;
}
.news-relater .item img{
    float: left;
    width: 160px;
    height: 90px;
    margin-right: 10px;
}
.news-relater .item h3{
    font-size: 15px;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
}
.tab-content{
    font-size: 14px;
}
.tab-content img{
    margin: 10px 0px;
}
.info-detail{
    margin-top: 10px;
}
.info-detail ul li a{
    font-size: 18px;
    color: #333;
}
.info-detail .nav-tabs>li.active>a,.info-detail .nav-tabs>li.active>a:focus,.info-detail .nav-tabs>li.active>a:hover{
    color: #f58800;
}