
body{
  /*  font-family: 'Roboto Regular';*/
    font-weight: 400;
    font-size: 12px;
}
/*@media(max-width: 767px){
    .list-product .item,
    .box-list .item .img-full{
        height: 280px;
    }
}*/
@media(max-width: 767px){
    .box-menu,
    .box-logo,
    .slogan,
    .info-cart,
    .box-category{
        display: none;
    }
    .icon-menu .fa{
        background-color: #fafafa;
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        float: left;
        color: #f36f21;
        margin-right: 12px;
    }
    .header .img-logo{
        width: 150px;
    }
   /* .header{
        padding-top: 8px;
        padding-bottom: 8px;
    }*/
    .box-cate{
        margin-left: -15px;
        margin-right: -15px;
    }
    .box-search .frm  .item select,
    .box-search .frm  .item input[type="text"]{
        height: 40px;
        border: 1px solid #d7d7d7;
    }
    .list-box .fa-bars{
        font-size: 24px;
        color: #666;
        margin-top: 1px;
        padding: 6px 10px;
        background-color: #fafafa;
        border: 1px solid #f1f1f1;
        border-radius: 3px;
    }
    .box-search .item .btn{
        width: 40px;
        height: 40px;
    }
    .list-box .form-group{
        margin-bottom: 0px;
    }
    .list-box{
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .info-pro{
        margin-top: 8px;
    }

    .list-product .item{
        padding-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
        border: 1px solid #d7d7d7;
        padding-bottom: 15px;
    }
    .box-cart{
        margin-top: 5px;
    }
    .list-product .img-thumb{
        display: block;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .box-list{
        margin-left: -6px;
        margin-right: -6px;
    }
    .box{
        clear: both;
        margin-bottom: 30px;
    }
    .ic-account{
        float: left;
        width: 32px;
        height: 32px;
        display: block;
        background: url("../images/sprite.png") no-repeat;
        background-position: -40px -48px;
        margin-top: 4px;
    }
    .cart-mobile .fa{
        font-size: 28px;
        color: #f1f1f1;
        margin-top: 5px;
    }
    .box-mn .list-mn{
        display: none;
    }
    .list-product .col-item{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .owl-carousel.owl-theme .owl-controls{
        right: 8px;
    }
    .box-products .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .box-products .box-title h3{
        text-transform: uppercase;
        text-align: center;
        border: 0px;
        background: none;
        color: #111;
        display: block;
        font-size: 22px;
    }
    .option ul{
        margin-bottom: 0px;
    }
    .box-products.box .box-title h3:first-child a{
        color: #111;
    }
    .select{
        height: 28px;
    }
    .footer ul{
        padding-left: 15px;
    }
    .nav-top .icon-menu{
        float: left;
        display: block;
       width: 32px;
        height: 32px;
        background-color: #148099;
        color: #fff;
        line-height: 32px;
        text-align: center;
        font-size: 20px;
        margin-top: 6px;
        margin-right: 12px;
    }
}
@media(min-width: 768px){
    .nav-top .icon-menu{
        display: none;
    }
    .footer{
        margin-top: 30px;
    }
    .select{
        height: 34px;
    }
    .box-products .box-title h3{
        background-color: #70ba28;
        color: #fff;
    }
    .owl-carousel.owl-theme .owl-controls{
        right: 15px;
    }
    .box-list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .owl-item {
        padding-left: 15px;
        padding-right: 15px;
        background: none;
    }
    .list-inline>li.cart-mobile,
    .list-box .icon-menu{
        display: none;
    }
    .box{
        clear: both;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .box-search .list-box{
        margin: 0px;
    }
    .box-search .item .btn{
        width: 46px;
        height: 34px;
        margin-right: 2px;
    }

    .list-box .column-6 .frm{
        margin-right: 12px;
    }
    .box-cate{
        position: relative;
        height: 452px;
    }
    .box-search .frm  .item select,
    .box-search .frm  .item input[type="text"]{
        height: 40px;
        border: 1px solid #d7d7d7;
        width: 100%;
        border-right: 0px;
    }

    .list-product .item{
        padding: 5px 5px 40px 5px;
        margin-bottom: 30px;
    }
    .list-product .item .info-pro{
        transition: all 0.5s ease;
    }
    .box-cart{
        margin-top: 15px;
    }
    .box-menu .column{
        display: none;
    }
}
@media(min-width: 768px) AND (max-width: 1024px){

    .header-home .box-search{
        width: 240px;
        margin-left: 15px;
    }
    .box-search{
        width: 320px;
        margin-left: 0px;
    }
    .action,
    .ic-like .txt,
    .ic-user .icon{
        display: none;
    }
    .box-search .frm .item select, .box-search .frm .item input[type="text"]{
        padding: 6px 4px;
    }
    .list-mn{
        float: right;
    }
    .overflow .list-cate,
    .box-cate{
        height: 288px;
    }
    .box-category{
        height: 348px;
    }
    .box-category .list-cate{
        overflow-y: auto;
    }
    /* collumns chia*/
    .column-2{
        width: 25%;
        float: left;
        min-height: 50px;
    }
    .column-8{
        width: 75%;
        float: left;
    }
    .column-6{
        width: 60%;
        float: left;
    }

    .list-cate li a:hover{
        background-color: #F78920;
    }
    ul.sub-menu{
        display: none;
        padding: 0px 0px 0px 8px;
    }
    .sub-menu,
    .sub-menu a{
        background-color: #fafafa;
    }
    .list-product .item,
    .box-list .item .img-full{
        height: 350px;
    }
}

@media(min-width: 1023px) AND (max-width: 1200px){
    .category-mn .list-cate li,
    .box-category .list-cate li{
        list-style: none;
        position: relative;
    }
    .list-cate ul.sub-menu{
        display: none;
        position: absolute;
        white-space: nowrap;
        top: 0px;
        z-index: 999;
        background-color: #fff;
        padding: 0px;
        min-width: 250px;
        -webkit-transition: 0.5 time;-moz-transition: 0.5 time;-ms-transition: 0.5 time;-o-transition: 0.5 time;transition: 0.5 time;
    }
    .list-cate li:hover{
        background-color: #F78920;

    }
    .list-cate li:hover a{
        color: #fff;
        text-decoration: none;
    }
    .list-cate li:hover ul.sub-menu{
        display: block;
        -webkit-transition: 0.5 time;-moz-transition: 0.5 time;-ms-transition: 0.5 time;-o-transition: 0.5 time;transition: 0.5 time;
    }
    .box-category{
        min-height: 450px;
    }
    .box-search{
        width: 320px;
    }
    .list-mn{
        float: left;
    }
    /* collumns chia*/
    .column-2{
        width: 20%;
        float: left;
        min-height: 50px;
    }
    .column-8{
        width: 80%;
        float: left;
    }
    .column-6{
        width: 60%;
        float: left;
    }
    .list-product .item,
    .box-list .item .img-full{
        height: 380px;
    }

}
@media(min-width: 1200px){
    .list-product .item,
    .box-list .item .img-full{
        height: 380px;
    }
    .category-mn .list-cate li,
    .box-category .list-cate li{
        list-style: none;
        position: relative;
    }
    .list-cate ul.sub-menu{
        display: none;
        position: absolute;
        white-space: nowrap;
        top: 0px;
        z-index: 999;
        background-color: #fff;
        padding: 0px;
        min-width: 250px;
        -webkit-transition: 0.5 time;-moz-transition: 0.5 time;-ms-transition: 0.5 time;-o-transition: 0.5 time;transition: 0.5 time;
    }
    .list-cate li:hover{
        background-color: #F78920;

    }
    .list-cate li:hover a{
        color: #fff;
        text-decoration: none;
    }
    .list-cate li:hover ul.sub-menu{
        display: block;
        -webkit-transition: 0.5 time;-moz-transition: 0.5 time;-ms-transition: 0.5 time;-o-transition: 0.5 time;transition: 0.5 time;
    }
    /* collumns chia*/
    .column-2{
        width: 20%;
        float: left;
        min-height: 50px;
    }
    .column-8{
        width: 80%;
        float: left;
    }
    .column-6{
        width: 60%;
        float: left;
    }
    .box-category{
        min-height: 450px;
    }
    .box-search{
        width: 480px;
    }
    .list-mn{
        float: left;
    }
}
